body {
    font-size: 1.25em;
}
p, ul {
    width: 600px;
    margin: 0 auto 1.618em;
    color: #444;
    line-height: 1.618em;
    font-weight: normal;
}
h1, h2 {
    margin: 1.053em auto 0.618em;
    text-align: center;
    max-width: 800px;
    line-height: 1.053em;
    color: #222;
}
h1 {
    font-size: 4.236em;
}
h2 {
    font-size: 1.672em;
}
p.intro {
    font-size: 1.618em;
    line-height: 1.292em;
}
blockquote {
    font-family: Georgia, Times, Serif;
    font-size: 2.705em;
    font-style: italic;
    max-width: 800px;
    margin: 1.053em auto;
    text-align: center;
    line-height: 1.618em;
    color: #222;
}
blockquote footer {
    font-family: "pt-sans", sans-serif;
    font-size: 0.395em;
    font-style:normal;
    color: #444;
    border-top: 1px solid #444;
    display: table;
    margin: 1.033em auto;
}

/* Modular Scale ---------------------- 20px @ 1:1.618     600px @ 1:1.618     ----------------------
Pixels    Ems    Ems @ 16    % of 13
970.800    48.54    60.675    7,467.692
939.408    46.97    58.713    7,226.215
600.000    30    37.5    4,615.385
580.598    29.03    36.287    4,466.138
370.828    18.541    23.177    2,852.523
358.837    17.942    22.427    2,760.285
229.189    11.459    14.324    1,762.992
221.778    11.089    13.861    1,705.985
141.650    7.083    8.853    1,089.615
137.069    6.853    8.567    1,054.377
87.546    4.377    5.472    673.431
84.715    4.236    5.295    651.654
54.108    2.705    3.382    416.215
52.358    2.618    3.272    402.754
33.441    1.672    2.09    257.238
32.360    1.618    2.023    248.923
20.668    1.033    1.292    158.985
20.000    1        1.25    153.846
12.774    0.639    0.798    98.262
12.361    0.618    0.773    95.085
7.895    0.395      0.493    60.731
7.640    0.382    0.478    58.769
4.879    0.244    0.305    37.531
4.722    0.236    0.295    36.323
3.015    0.151    0.188    23.192
2.918    0.146    0.182    22.446
1.863    0.093    0.116    14.331
1.803    0.09    0.113    13.869
1.151    0.058    0.072    8.854
1.114    0.056    0.07    8.569
*/
