/* Media queries */
@media  screen and (min-width: 43.75rem), (min-width: 700px), (device-width: 768px){ /* TODO Check and compare this code and try to optimize it. */
    body {
        font-size: 1.375em;
    }
    article p, article ul {
        width: 43.75rem;
        margin: 0 auto 1.618em;
        color: #444;
        line-height: 1.618em;
    }
    h1 {
        font-size: 4.236em;
        max-width: 60rem;
    }
    h2 {
        margin: 1.773em auto 0.618em;
        line-height: 1.096em;
        font-size: 1.773em;
        max-width: 40rem;
    }
    aside h3 {
        max-width: 30rem;
    }
    .intro p, .introVideo p {
        font-size: 1.618em;
        font-weight: 300;
        line-height: 1.292em;
        max-width: 43.75rem;
        margin: auto;
    }
    .home p {
        margin-top: 0.5em;
    }
    header {
        padding: 1.5%;
    }
    blockquote {
        font-size: 2.618em;
        max-width: 60rem;
        margin: 1.096em auto;
        line-height: 1.618em;
    }
    blockquote footer {
        font-size: 0.5em;
        margin: 1.033em auto 0;
    }
}

/* Minor Fixes */

/* Next & Prev article on desktop */
@media screen and (min-device-width: 50rem){
    aside {
        padding: 5%;
        width: 50%;
        float: right;
    }
    aside + aside {
        margin: 0;
        border-right: 1px solid #fff;
        border-top: 0;
    }
    aside p {
        width: 90%;
        margin: 0 auto 1rem;
    }
}


/* Screen smaller than 480 px fix */
@media screen and (max-device-height: 480px){
    nav>ul {
        top: 13%;
        height: 70%;
    }
    nav li {
        height: 22%;
    }
}
