@import url("type.css");

/* ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* HTML */
body, html {
    font-size: 100%; /* change to 1.375 for desktop */
    height: 100%;
    margin-bottom: 60px;
}
p, div, section, article, footer, header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* Navigation */

header {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    padding: 3%;
}
.headerWhiteBg {
    background: rgba(255,255,255,0.8);
}
.btnCloseMenu {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 3%;
    text-indent: -9999px;
}
.logo {
    background: url(images/bgLogo.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    float: left;
}
.btnMenu {
    background: url(images/btnMenu.png);
    background-size: contain;
    width: 50px;
    height: 50px;
    float: right;
    text-indent: -9999px;
}
.btnMenu:hover {
    cursor: pointer;
}
.menuToggle {
    display: none;
}
.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
nav {
    background: rgba(131, 100, 158, 0.8);
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
}
nav>ul {
    list-style: none;
    position: absolute;
    top: 20%;
    padding: 0;
    margin: 0;
    display: table;
    height: 60%;
    width: 100%;
}
nav li {
    display: table;
    text-align: center;
    width: 100%;
    height: 20%;
}
nav li a, nav li ul {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.navSocial li {
    width: 50%;
    display: inline;
}
.navSocial>li>a {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    margin: 0 10px;
}
.tw a {
    background: url(images/icnTw@2x.png);
}
.dr a {
    background: url(images/icnDr@2x.png);
}
nav>ul>li>ul {
    margin: 0;
    padding: 0;
    position: relative;
}
.btnCloseMenu {
    background: url(images/btnClose.png);
    background-size: contain;
    right: 3%;
    display: none;
}

/* Layout */
.intro {
    background: url(images/jow.jpg) center center;
    background-size: cover;
    width: 100%;
    display: table-cell;
    margin-bottom: 2.618em;
    vertical-align: middle;
}
img.typekit-badge {
    display: none!important;
}
