@import url("normalize.css");

/* ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* Align to vertical center */
.verticalCenter {
    display: table-cell;
    vertical-align: middle;
    background: rgba(255,255,255,0.7);
}

/* HTML */
body, html {
    font-size: 100%; /* change to 1.375 for desktop */
    height: 100%;
}
p, div, section, article, footer, header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article p:last-child {
    padding-bottom: 3em;
}
.intro {
    background: url(images/manage.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 2.618em;
    display: table;
}
aside {
    background: #f6f6f6;
    text-align: center;
    padding: 5% 5%;
}
aside section {
    padding: 2% 0 5%;
}
#deadEnd {
    background: url(images/post-thumbnails/dead-end.jpg) center center no-repeat;
    background-size: contain;
}
#manage {
    background: url(images/post-thumbnails/manage-your-day.jpg) center center no-repeat;
    background-size: contain;
}
aside + aside {
    margin-top: 4px;
}
.tweet {
    opacity: 0;
}

/* Navigation */
header {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    padding: 3%;
}
.headerWhiteBg {
    background: rgba(255,255,255,0.9);
}
.btnCloseMenu, .logo, .btnMenu {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
}
.btnCloseMenu {
    position: fixed;
    margin-top: 3%;
    background: url(images/btnClose.png);
    background-size: contain;
    right: 3%;
    display: none;
}
.logo {
    background: url(images/bgLogo.png);
    background-size: contain;
    float: left;
}
.btnMenu {
    background: url(images/btnMenu.png);
    background-size: contain;
    float: right;
}
.menuToggle, nav {
    width: 100%;
    height: 100%!important;
    position: fixed;
}
.menuToggle {
    display: none;
    background: url(images/manage.jpg) center center;
    background-size: cover;
    z-index: 9000;
}
nav {
    background:  rgba(131, 100, 158, 0.8);
    z-index: 10000;
    display: block;
}
nav>ul {
    list-style: none;
    position: absolute;
    bottom: 20%;
    padding: 0;
    margin: 0;
    display: table;
    height: 60%;
    width: 100%;
}
nav li {
    display: table;
    text-align: center;
    width: 100%;
    height: 20%;
}
nav li a, nav li ul {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.navSocial li {
    width: 50%;
    display: inline;
}
.navSocial>li>a {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    margin: 0 10px;
}
.tw a {
    background: url(images/icnTw@2x.png);
}
.dr a {
    background: url(images/icnDr@2x.png);
}
nav>ul>li>ul {
    margin: 0;
    padding: 0;
    position: relative;
}

/* Main Text */
article p, article ul {
    margin: 0 5% 1.756em;
    color: #444;
    line-height: 1.5em;
    font-weight: normal;
}
.intro p {
    font-size: 1.292em;
    font-weight: 300;
    line-height: 1.292em;
    margin-left: 5%;
    margin-right: 5%;;
    text-align: left;
}
blockquote {
    font-family: Georgia, Times, Serif;
    font-size: 2.25em;
    font-style: italic;
    margin: 1.171em auto;
    text-align: center;
    line-height: 1.5em;
    color: #222;
}
blockquote footer {
    font-family: Georgia, serif;
    font-size: 0.444em;
    font-style:normal;
    color: #444;
    border-top: 1px solid #444;
    display: table;
    margin: 1.171em auto 0;
    padding: 0 1em;
}
a.tweetable {
    text-decoration: none;
}
aside section h3 {
    margin: 0.6em 1em;
}
aside a {
    text-decoration: none;
    padding: 0.3em 0.7em;;
    border: solid 1px;
}
/* TODO put together all the links under LINKS section*/

/* Headings */
h1, h2 {
    margin: 2.25em auto 0.667em;
    text-align: center;
    line-height: 1.171em;
}
h1 {
    font-size: 2.25em;
}
h2 {
    font-size: 1.756em;
    max-width: 80%;
}
h3 {
    font-size: 1.5em;
}

/* Links */
a {
    color: #83649e;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
.intro a {
    text-decoration: none;
}
/* Light & Dark UI */
.introDark, .introDark a {
    color: #222;
}
.introLight, introLight a {
    color: #fff;
}
nav a {
    color: #fff;
    font-size: 2em;
    font-family: "museo-sans", sans-serif;
    text-decoration: none;
}

/* Media queries */ /* TODO Fix the media queries for specific devices */
@media all and (min-width: 43.75rem){ /* TODO Check and compare this code and try to optimize it. */
    body {
        font-size: 1.375em;
    }
    article p, article ul, aside p {
        width: 43.75rem;
        margin: 0 auto 1.618em;
        color: #444;
        line-height: 1.618em;
        font-weight: normal;
    }
    h2 {
        margin: 1.773em auto 0.618em;
        text-align: center;
        line-height: 1.096em;
        color: #222;
        font-size: 1.773em;
        max-width: 40rem;
    }
    h1 {
        font-size: 4.236em;
        max-width: 60rem;
        margin-top: 0;
    }
    .intro p {
        font-size: 1.618em;
        font-weight: 300;
        line-height: 1.292em;
        max-width: 43.75rem;
        margin: auto;
    }
    blockquote {
        font-size: 2.618em;
        max-width: 60rem;
        margin: 1.096em auto;
        line-height: 1.618em;
    }
    blockquote footer {
        font-size: 0.5em;
        margin: 1.033em auto 0;
    }
}

/* Minor Fixes */
img.typekit-badge {
    display: none!important;
}
