@import url("normalize.css");

/* Global Stuff */

/* ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* Align to vertical center */
.verticalCenter {
    display: table-cell;
    vertical-align: middle;
}

/* Backgrounds */
.whiteBg {
    background: rgba(255,255,255,0.7);
}

/* HTML */
body, html {
    font-size: 100%; /* change to 1.375 for desktop */
    height: 100%;
}
p, div, section, article, footer, header, aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*
article p:last-child {
    padding-bottom: 3em;
}
*/
.intro {
    background: url(images/posts/manage.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 2.618em;
    display: table;
}
.introVideo {
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 2.618em;
    display: table;
}
.otherArticles {
    background: #f6f6f6;
    display: table-cell;
    vertical-align: middle;
}
aside {
    text-align: center;
    padding: 10% 5%;
}
aside section {
    padding: 2% 0 5%;
}
#deadEnd {
    background: url(images/posts/dead-end.jpg) center center no-repeat;
    background-size: contain;
}
#manage {
    background: url(images/posts/manage-your-day.jpg) center center no-repeat;
    background-size: contain;
}
aside + aside {
    border-top: 1px solid #fff;
}
.tweet {
    opacity: 0;
    fill: #eaeaea;
}
time {
    display: table;
    margin: 1em auto;
}
.twFollow {
    display: block;
    height: 70px;
    width: 200px;
    margin: 1em auto 3em;
    text-align: center;
    text-decoration: none;
}
.home {
    color: #000;
}
video#bgvid {
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

/* Navigation */
header {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    padding: 3%;
}
.headerWhiteBg {
    background: rgba(255,255,255,0.9);
}
.logo, .btnMenu {
    width: 50px;
    height: 50px;
}
.btnCloseMenu {
    position: fixed;
    margin-top: 3%;
    background-size: contain;
    right: 3%;
}
.icnClose {
    fill: #fff;
}
.logo {
    float: left;
}
.btnMenu {
    float: right;
}
.menuToggle, nav {
    width: 100%;
    height: 100%!important;
    position: fixed;
}
.menuToggle {
    display: none;
    background: url(images/posts/manage.jpg) center center;
    background-size: cover;
    z-index: 9000;
}
nav {
    background:  rgba(131, 100, 158, 0.8);
    z-index: 10000;
    display: block;
}
nav>ul {
    list-style: none;
    position: absolute;
    top: 20%;
    padding: 0;
    margin: 0;
    display: table;
    height: 60%;
    width: 100%;
}
nav li {
    display: table;
    text-align: center;
    width: 100%;
    height: 20%;
}
nav li a, nav li ul {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.navSocial li {
    width: 50%;
    display: inline;
}
.navSocial>li>a {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    margin: 0 10px;
    font-size: 1rem;
}
.tw {
    fill: #fff;
}
.dr {
    fill: #fff;
}
nav>ul>li>ul {
    margin: 0;
    padding: 0;
    position: relative;
}

/* Minor Fixes */
img.typekit-badge {
    display: none!important;
}
