/* Main Text */
article p, article ul {
    margin: 0 5% 1.756em;
    color: #444;
    line-height: 1.5em;
    font-weight: normal;
}
.intro p {
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.292em;
    text-align: center;
}
blockquote {
    font-family: Georgia, Times, Serif;
    font-size: 2.25em;
    font-style: italic;
    margin: 1.171em auto;
    text-align: center;
    line-height: 1.5em;
    color: #222;
}
blockquote footer {
    font-family: "pt-sans", sans-serif;
    font-size: 0.444em;
    font-style:normal;
    color: #444;
    border-top: 1px solid #444;
    display: table;
    margin: 1.171em auto;
}
/* Headings */
h1, h2 {
    margin: 2.25em auto 0.667em;
    text-align: center;
    line-height: 1.171em;
}
h1 {
    font-size: 2.25em;
}
h2 {
    font-size: 1.756em;
    max-width: 80%;
}
/* Links */
p a {
    color: #83649e;
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}
.intro a {
    text-decoration: none;
}
/* Light & Dark UI */
.introDark, .introDark a {
    color: #222;
}
nav a {
    color: #fff;
    font-size: 2em;
    font-family: "museo-sans", sans-serif;
    text-decoration: none;
}
