/* Media queries */
@media  screen and (min-width: 43.75rem), (min-width: 700px), (min-device-width: 768px){
    /* 22px - golden ration */
    body {
        font-size: 1.375em;
    }
    p, ul, ol {
        width: 43.75rem;
        margin: 0 auto 1.618em;
        line-height: 1.618em;
    }
    h1 {
        font-size: 4.236em;
        max-width: 60rem;
    }
    h2 {
        margin: 1.773em auto 0.618em;
        line-height: 1.096em;
        font-size: 1.773em;
        max-width: 40rem;
    }
    aside h3 {
        max-width: 30rem;
    }
    .extract {
        font-size: 1.618em;
        font-weight: 300;
        line-height: 1.292em;
        max-width: 43.75rem;
        margin: 0 auto 1.618rem;
    }
    .home p {
        margin-top: 0.5em;
    }
    header {
        padding: 1.5%;
    }
    blockquote {
        font-size: 2.618em;
        max-width: 60rem;
        margin: 1.096em auto;
        line-height: 1.618em;
    }
    blockquote footer {
        font-size: 0.5em;
        margin: 1.096em auto 0;
    }
    .btnCloseMenu {
        position: fixed;
        margin-top: 1.5%;
        background-size: contain;
        right: 1.5%;
    }
}

/* Minor Fixes */
    /* Navigation menu for landscape positon  */
    @media screen and (max-height: 400px) and (orientation: landscape){
        nav>ul {
            right: 5%;
            bottom: 10%;
            width: 50%;
            height: 50%;
            margin-top: 50px;
        }
        nav li a {
            width: 25%;
            text-align: right;
            padding: 5px 0;
        }

        .navSocial {
            display: none;
        }
    }

    /* Next article on desktop */
    @media screen and (min-width: 50rem){
        aside section {
            padding: 4% 0;
        }
        aside p {
            width: 90%;
            max-width: 43.75rem;
        }
        /*  List padding fix  */
        ol, ul {
        padding-left: 2.5em;
    }
    }


    /* Screen smaller than 480 px fix */
    @media screen and (max-device-height: 480px){
        nav>ul {
            top: 13%;
            height: 70%;
        }
        nav li {
            height: 22%;
        }
    }
    /* Main menu on screens larger than 960px */
    @media screen and (min-width: 960px){
        .btnMenu {
            display: none;
        }
        .mainMenu {
            float: right;
            display: block;
        }
        .mainMenu ul {
            list-style: none;
            width: auto;
            margin: 0;
            padding: 0;
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }
        .mainMenu li {
            display: inline;
            margin: 0 1em;
        }
        .mainMenu a {
            font-family: "soleil", sans-serif;
            text-decoration: none;
            font-size: 0.8em;
        }
        header {
            padding: 0.8%;
        }
    }
