/* Main Text - 16px perfect fifth */
p, ul, ol {
    margin: 0 5% 1.707em;
    color: #444;
    line-height: 1.5em;
    font-weight: normal;
}
p strong {
    font-weight: 700;
}
.post p {
    margin: 0 auto 1.3rem;
}
article ul li, article ol li {
    margin: 0 0 0.8em;
}
article ol, article ul {
    padding-left: 1.292em;
}
.extract, .welcome {
    font-size: 1.292em;
    font-weight: 300;
    line-height: 1.292em;
    margin-left: 5%;
    margin-right: 5%;;
/*    text-align: left;*/
    color: #222;
}
blockquote {
    font-family: Georgia, Times, Serif;
    font-size: 2.25em;
    font-style: italic;
    margin: 1.138em auto;
    padding: 0 3%;
    text-align: center;
    line-height: 1.5em;
    color: #222;
}
blockquote footer {
    font-family: Georgia, serif;
    font-size: 0.444em;
    font-style:normal;
    color: #444;
    border-top: 1px solid #444;
    display: table;
    margin: 1.138em auto 0;
    padding: 0 1em;
}

/* Headings */
h1, h2 {
    text-align: center;
    line-height: 1.138em;
    color: #222;
}
h1 {
    margin: 0 auto;
    font-size: 2.25em;
    padding: 0 3%;
}
h2 {
    font-size: 1.707em;
    margin: 1.707em auto 0.667em;
    max-width: 80%;
}
h3 {
    font-size: 1.5em;
    color: #222;
}
aside h2, section h2 {
    margin: 0 auto 1.3rem;
}
aside h4, .post h4 {
    margin: 0 auto 1.5rem;
    font-size: 14px;
    color: #969696;
    font-weight: normal;
}
.logo h1 {
    font-size: 30px;
    height: 50px;
    padding-top:2px;
}

/* Links */
article p a {
    color: #5f92cb;
    text-decoration: none;
    border-bottom: 1px solid #5f92cb;
}
a:visited {
    text-decoration: none;
}
a img {
    border: 0;
}
nav a {
    color: #fff;
    font-size: 2em;
    font-family: "museo-sans", sans-serif;
    text-decoration: none;
}
aside a, .post a {
    text-decoration: none;
    padding: 0.5em 0.7em;
    background: #000;
    color: #fff;
    display: block;
    max-width: 140px;
    margin: 0 auto 0.6rem;
}
a.tweetable {
    text-decoration: none;
}
img + figcaption {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 0.759em;
    color: #999;
    margin: 1.138em auto 0;
    max-width: 43.75em;
    line-height: 1.5;
    padding: 0 5%;
}
figcaption a {
    font-family: Georgia, serif;
    color: #999;
}
